In [2]:
pip install "numpy<2.0"

Collecting numpy<2.0
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------------ ------------------------- 20.5/61.0 kB 640.0 kB/s eta 0:00:01
     ------------------------------- ------ 51.2/61.0 kB 650.2 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 651.3 kB/s eta 0:00:00
Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
    --------------------------------------- 0.2/15.8 MB 4.1 MB/s eta 0:00:04
   -- ------------------------------------- 1.1/15.8 MB 11.9 MB/s eta 0:00:02
   ---- ----------------------------------- 1.7/15.8 MB 13.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.7/15.8 MB 9.9 MB/s eta 0:00:02
   ------ --------------------------------- 2.4/15.8 MB 10.8 MB/s eta 0:00:02
   ------ --------------------------------- 2.5/15.8 MB 10.1 MB/s eta 0:00:02
   ------- -------------------------------- 2.8/15.8 MB 8.9 MB/s eta 0:00:02
   ------- -------------------------------- 3.0/15.8 MB 8.1 MB/s eta 0:00:02
   -------- ------------------------------- 3.5/15.8 MB 8.7 MB/s eta 0:00:02
   -------- ------------------------------- 3.5/15.8 MB 8.7 MB/s eta 0:00:02
   ---------- ----------------------------- 4.1/15.8 MB 8.1 MB/s eta 0:00:02
   ---------- ----------------------------- 4.3/15.8 MB 7.9 MB/s eta 0:00:02
   ----------- ---------------------------- 4.6/15.8 MB 7.7 MB/s eta 0:00:02
   ------------ --------------------------- 4.8/15.8 MB 7.4 MB/s eta 0:00:02
   ------------- -------------------------- 5.2/15.8 MB 7.5 MB/s eta 0:00:02
   ------------- -------------------------- 5.4/15.8 MB 7.4 MB/s eta 0:00:02
   -------------- ------------------------- 5.6/15.8 MB 7.3 MB/s eta 0:00:02
   -------------- ------------------------- 5.6/15.8 MB 6.8 MB/s eta 0:00:02
   -------------- ------------------------- 5.7/15.8 MB 6.5 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/15.8 MB 6.3 MB/s eta 0:00:02
   -------------- ------------------------- 5.9/15.8 MB 6.1 MB/s eta 0:00:02
   --------------- ------------------------ 6.0/15.8 MB 5.9 MB/s eta 0:00:02
   --------------- ------------------------ 6.1/15.8 MB 5.8 MB/s eta 0:00:02
   --------------- ------------------------ 6.2/15.8 MB 5.6 MB/s eta 0:00:02
   ---------------- ----------------------- 6.4/15.8 MB 5.5 MB/s eta 0:00:02
   ---------------- ----------------------- 6.5/15.8 MB 5.4 MB/s eta 0:00:02
   ---------------- ----------------------- 6.6/15.8 MB 5.4 MB/s eta 0:00:02
   ----------------- ---------------------- 6.8/15.8 MB 5.3 MB/s eta 0:00:02
   ----------------- ---------------------- 6.9/15.8 MB 5.1 MB/s eta 0:00:02
   ----------------- ---------------------- 7.1/15.8 MB 5.1 MB/s eta 0:00:02
   ------------------ --------------------- 7.2/15.8 MB 5.0 MB/s eta 0:00:02
   ------------------ --------------------- 7.4/15.8 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.5/15.8 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.7/15.8 MB 4.9 MB/s eta 0:00:02
   ------------------- -------------------- 7.9/15.8 MB 4.9 MB/s eta 0:00:02
   -------------------- ------------------- 8.0/15.8 MB 4.9 MB/s eta 0:00:02
   -------------------- ------------------- 8.2/15.8 MB 4.8 MB/s eta 0:00:02
   --------------------- ------------------ 8.4/15.8 MB 4.8 MB/s eta 0:00:02
   --------------------- ------------------ 8.6/15.8 MB 4.8 MB/s eta 0:00:02
   --------------------- ------------------ 8.7/15.8 MB 4.7 MB/s eta 0:00:02
   ---------------------- ----------------- 8.9/15.8 MB 4.7 MB/s eta 0:00:02
   ----------------------- ---------------- 9.1/15.8 MB 4.7 MB/s eta 0:00:02
   ----------------------- ---------------- 9.3/15.8 MB 4.7 MB/s eta 0:00:02
   ------------------------ --------------- 9.5/15.8 MB 4.7 MB/s eta 0:00:02
   ------------------------ --------------- 9.7/15.8 MB 4.7 MB/s eta 0:00:02
   ------------------------- -------------- 10.0/15.8 MB 4.7 MB/s eta 0:00:02
   ------------------------- -------------- 10.2/15.8 MB 4.7 MB/s eta 0:00:02
   -------------------------- ------------- 10.4/15.8 MB 4.7 MB/s eta 0:00:02
   --------------------------- ------------ 10.7/15.8 MB 4.6 MB/s eta 0:00:02
   --------------------------- ------------ 11.0/15.8 MB 4.6 MB/s eta 0:00:02
   ---------------------------- ----------- 11.2/15.8 MB 4.5 MB/s eta 0:00:02
   ----------------------------- ---------- 11.5/15.8 MB 4.5 MB/s eta 0:00:01
   ----------------------------- ---------- 11.7/15.8 MB 4.4 MB/s eta 0:00:01
   ------------------------------ --------- 11.9/15.8 MB 4.4 MB/s eta 0:00:01
   ------------------------------ --------- 12.2/15.8 MB 4.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.5/15.8 MB 4.3 MB/s eta 0:00:01
   -------------------------------- ------- 12.8/15.8 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 13.0/15.8 MB 4.4 MB/s eta 0:00:01
   --------------------------------- ------ 13.4/15.8 MB 4.4 MB/s eta 0:00:01
   ---------------------------------- ----- 13.6/15.8 MB 4.3 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.8 MB 4.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.1/15.8 MB 4.3 MB/s eta 0:00:01
   ------------------------------------ --- 14.4/15.8 MB 4.3 MB/s eta 0:00:01
   ------------------------------------- -- 14.7/15.8 MB 4.3 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.8 MB 4.3 MB/s eta 0:00:01
   ---------------------------------------  15.7/15.8 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 4.4 MB/s eta 0:00:00
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 2.1.3
    Uninstalling numpy-2.1.3:
      Successfully uninstalled numpy-2.1.3
Successfully installed numpy-1.26.4
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\rahul\anaconda3\Lib\site-packages\~-mpy.libs'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\rahul\anaconda3\Lib\site-packages\~-mpy'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gensim 4.3.0 requires FuzzyTM>=0.4.0, which is not installed.

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
import pgeocode
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, roc_auc_score

In [2]:
data = pd.read_csv("Bank_Personal_Loan_Modelling.csv")
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [3]:
#adding data into DF
df = pd.DataFrame(data) 
# dropping ID coloumn
df.drop(['ID'] , axis = 1 , inplace = True) 

df.head()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
#Cheching for duplicated values :

print(len(df[df.duplicated()]))

0

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,5000.0,45.338400,11.463166,23.0,35.0,45.0,55.0,67.0
Experience,5000.0,20.104600,11.467954,-3.0,10.0,20.0,30.0,43.0
Income,5000.0,73.774200,46.033729,8.0,39.0,64.0,98.0,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.0,93437.0,94608.0,96651.0
Family,5000.0,2.396400,1.147663,1.0,1.0,2.0,3.0,4.0
CCAvg,5000.0,1.937938,1.747659,0.0,0.7,1.5,2.5,10.0
Education,5000.0,1.881000,0.839869,1.0,1.0,2.0,3.0,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.0,0.0,101.0,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.0,0.0,0.0,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.0,0.0,0.0,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.0,0.0,0.0,1.0
Online,5000.0,0.596800,0.490589,0.0,0.0,1.0,1.0,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.0,0.0,1.0,1.0

In [6]:
#Correcting noises :

#Absolute of this column
df['Experience'] = df['Experience'].abs()

In [7]:
#Correcting "CCAvg" column :
# getting anuual value now by multiply with 12

df['CCAvg'] = df['CCAvg'].astype(float)*12
df.head()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,19.2,1,0,0,1,0,0,0
1,45,19,34,90089,3,18.0,1,0,0,1,0,0,0
2,39,15,11,94720,1,12.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,32.4,2,0,0,0,0,0,0
4,35,8,45,91330,4,12.0,2,0,0,0,0,0,1

In [8]:
#Seperating discrete and continuous columns :

discrete = ['Family' , 'Education' ,'Personal Loan' , 'Securities Account' , 'CD Account' , 'Online' , 'CreditCard']
continuous = ['Age' , 'Experience', 'Income', 'CCAvg' , 'Mortgage']

In [9]:
#Values of discrete columns :

for i in discrete :
    print(f' {i} : {df[i].unique()}')

 Family : [4 3 1 2]
 Education : [1 2 3]
 Personal Loan : [0 1]
 Securities Account : [1 0]
 CD Account : [0 1]
 Online : [0 1]
 CreditCard : [0 1]

In [10]:
#Personal Loan is the column that i want to predict
x=df.drop('Personal Loan', axis='columns') #data
y=df['Personal Loan'] # label

In [11]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3)

In [12]:
forest=RandomForestClassifier()

forest.fit(x_train ,y_train)

RandomForestClassifier()

In [13]:
train_acc_forest= forest.score(x_train , y_train)
print("The Percentage of Random Forest model train accuracy is: ",train_acc_forest*100)

The Percentage of Random Forest model train accuracy is:  100.0

In [14]:
y_prediction_forest = forest.predict(x_test)

In [15]:
train_acc_forest= forest.score(x_train , y_train)
print("The Percentage of Random Forest model train accuracy is: ",train_acc_forest*100)

The Percentage of Random Forest model train accuracy is:  100.0

In [16]:
test_acc_forest=accuracy_score(y_test ,y_prediction_forest )
print("The Percentage of Random Forest model test accuracy is: ",test_acc_forest*100)

The Percentage of Random Forest model test accuracy is:  97.86666666666667

In [17]:
#Exctracting a dataframe that includes practical geographical information from 'ZIP Code' column using pgeocode library :

zip_codes = df["ZIP Code"].values.astype('str').tolist()
nomi = pgeocode.Nominatim('us')
us_code = nomi.query_postal_code(zip_codes)
us_code

,postal_code,country_code,place_name,state_name,state_code,county_name,county_code,community_name,community_code,latitude,longitude,accuracy
0,91107,US,Pasadena,California,CA,Los Angeles,37.0,NaN,NaN,34.1510,-118.0889,4.0
1,90089,US,Los Angeles,California,CA,Los Angeles,37.0,NaN,NaN,33.7866,-118.2987,4.0
2,94720,US,Berkeley,California,CA,Alameda,1.0,NaN,NaN,37.8738,-122.2549,4.0
3,94112,US,San Francisco,California,CA,City and County of San Francisco,75.0,NaN,NaN,37.7195,-122.4411,4.0
4,91330,US,Northridge,California,CA,Los Angeles,37.0,NaN,NaN,34.2283,-118.5368,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,92697,US,Irvine,California,CA,Orange,59.0,NaN,NaN,33.6485,-117.8387,4.0
4996,92037,US,La Jolla,California,CA,San Diego,73.0,NaN,NaN,32.8455,-117.2521,4.0
4997,93023,US,Ojai,California,CA,Ventura,111.0,NaN,NaN,34.4451,-119.2565,4.0
4998,90034,US,Los Angeles,California,CA,Los Angeles,37.0,NaN,NaN,34.0290,-118.4005,4.0
4999,92612,US,Irvine,California,CA,Orange,59.0,NaN,NaN,33.6607,-117.8264,4.0

In [18]:
#Adding the 'place_name' column as 'City' to our dataframe :

us_code_renamed = us_code.rename(columns={'place_name': 'City'}) #Rename the column
df = pd.concat([df, us_code_renamed.City], axis=1 ) #Concat it to dataframe
df

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,City
0,25,1,49,91107,4,19.2,1,0,0,1,0,0,0,Pasadena
1,45,19,34,90089,3,18.0,1,0,0,1,0,0,0,Los Angeles
2,39,15,11,94720,1,12.0,1,0,0,0,0,0,0,Berkeley
3,35,9,100,94112,1,32.4,2,0,0,0,0,0,0,San Francisco
4,35,8,45,91330,4,12.0,2,0,0,0,0,0,1,Northridge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,92697,1,22.8,3,0,0,0,0,1,0,Irvine
4996,30,4,15,92037,4,4.8,1,85,0,0,0,1,0,La Jolla
4997,63,39,24,93023,2,3.6,3,0,0,0,0,0,0,Ojai
4998,65,40,49,90034,3,6.0,2,0,0,0,0,1,0,Los Angeles
4999,28,4,83,92612,3,9.6,1,0,0,0,0,1,1,Irvine

In [19]:
df.isna().sum()
#Checking for unknown zip codes :

df[df.City.isna()]['ZIP Code'].unique()

array([92717,  9307, 92634, 96651, 92709], dtype=int64)

In [20]:
df.loc[df['ZIP Code'] == 92717 ,'City'] = 'Irvine'
df.loc[df['ZIP Code'] == 92634 ,'City'] = 'Fullerton'
df.loc[df['ZIP Code'] == 92709 ,'City'] = 'Irvine'

In [21]:
df.dropna(axis = 0 , inplace = True) #Drop the rows with unknown zip code
df.reset_index(inplace  = True , drop = True)
df

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,City
0,25,1,49,91107,4,19.2,1,0,0,1,0,0,0,Pasadena
1,45,19,34,90089,3,18.0,1,0,0,1,0,0,0,Los Angeles
2,39,15,11,94720,1,12.0,1,0,0,0,0,0,0,Berkeley
3,35,9,100,94112,1,32.4,2,0,0,0,0,0,0,San Francisco
4,35,8,45,91330,4,12.0,2,0,0,0,0,0,1,Northridge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4988,29,3,40,92697,1,22.8,3,0,0,0,0,1,0,Irvine
4989,30,4,15,92037,4,4.8,1,85,0,0,0,1,0,La Jolla
4990,63,39,24,93023,2,3.6,3,0,0,0,0,0,0,Ojai
4991,65,40,49,90034,3,6.0,2,0,0,0,0,1,0,Los Angeles
4992,28,4,83,92612,3,9.6,1,0,0,0,0,1,1,Irvine

In [22]:
df.nunique()

Age                    45
Experience             44
Income                162
ZIP Code              465
Family                  4
CCAvg                 108
Education               3
Mortgage              347
Personal Loan           2
Securities Account      2
CD Account              2
Online                  2
CreditCard              2
City                  244
dtype: int64

In [24]:
df.to_csv("output_result.csv", index=False)